includes:
	- phpstan-base.neon

parameters:
	# Директории для анализа (соответствуют слоям Clean Architecture)
	paths:
		- src

	# Исключения из анализа
	excludePaths:
		- src/presentation/views/* # View-файлы содержат HTML и PHP, сложны для статического анализа
		- tests/_output/*
		- tests/_support/*
		- tests/acceptance/*
		- tests/integration/*
		- tests/unit/acceptance/*
		- tests/unit/application/*
		- tests/unit/domain/*
		- tests/unit/infrastructure/acceptance/*
		- tests/unit/infrastructure/components/*
		- tests/unit/infrastructure/phpstan/* # кроме Rules/Fixtures (для тестов PHPStan-правил)
		- runtime/*            # Временные файлы Yii2
		- vendor/*             # Сторонние библиотеки
		- src/presentation/controllers/BaseController.php # Переопределяет render() с более строгой сигнатурой
